spring:
  application:
    name: worker

  # ??? ?? ??
  messages:
    basename: messages
    encoding: UTF-8
    cache-duration: 3600s

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      idle-timeout: 300
      max-lifetime: 300
      maximum-pool-size: 10
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        jdbc.lob.non_contextual_creation: true
        id:
          db_structure_naming_strategy: single
  jackson:
    default-property-inclusion: non_null
  cache:
    type: caffeine
    cache-names: sessions, token-blacklist
    caffeine:
      spec: maximumSize=10000,expireAfterWrite=30m

  # 2. Kafka Configuration
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: stats-worker-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer



  #  # 3. Redis Configuration
#  data:
#    redis:
#      host: localhost
#      port: 6379

  # 4. Custom Topic Names
kafka:
  topic:
    book-events: booknote.book.events

server:
  http2:
    enabled: true
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 1024
  port: 8090


